<div class="jumbotron">
  <h1>Welcome to TopTen app!</h1>

  <p>Follow link below to see Top Ten Table.</p>
  <p>You need to be Logged In with GitHub to access it.</p>

  <%= link_to 'Top Ten Table', top_ten_path, method: :get %>
</div>
